<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Northern Grown</title>
        <link rel="stylesheet" href="../public/stylesheets/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
    </head>

    <body>
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">Northern Grow</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" >Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="reimbursementForm.html">Reimbursement Form</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link hidden" href="pendingRequest.html">Pending Requests</a>
                            </li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" id="employeeName" >Employee Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Logout</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
        </header>

        <div class="container">
            <div >
                <h2 id="welcomeMsg">
                    <span id="userNameSpan">Welcome User</span>
                        <span id="userAmountSpan">Available Reimbursement amount is: <span id="amount">$1000</span>
                    </span>
                </h2>
            </div>

            <div class="tableDiv">
                <h3 class="" >Completed Tuition Reimbursement Requests</h3>
                <table id="completedRequestsTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Location</th>
                            <th>Event Type</th>
                            <th>Final Grade/Presentation</th>
                            <th>Cost</th>
                            <th>Awarded</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No Completed Requests</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tableDiv">
                <h3>Pending Tuition Reimbursement Requests</h3>
                <table id="pendingRequestsTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Location</th>
                            <th>Event Type</th>
                            <th>Cost</th>
                            <th>Projected Amount</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No Pending Requests</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tableDiv">
                <h3>Rejected Tuition Reimbursement Requests</h3>
                <table id="rejectedRequestsTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Location</th>
                            <th>Event Type</th>
                            <th>Cost</th>
                            <th>Projected Amount</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No Rejected Requests</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>                            
                        </tr>                           
                    </tbody>
                </table>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>